<a href="https://colab.research.google.com/github/cheatw153/20240829/blob/main/20240830%E7%AD%86%E8%A8%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20240830筆記

## 複習基本資料型態及容器型別

* int, float, bool, str
* list, tuple, dict, set

### 字串的加法及乘法

In [ ]:
'abc' + '123'

'abc123'

In [ ]:
'abc' * 3

'abcabcabc'

In [ ]:
'abc' + 123

TypeError: can only concatenate str (not "int") to str

In [ ]:
'abc' + str(123)

'abc123'

In [ ]:
'abc' * 3.0

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
'abc' * int(3.0)

'abcabcabc'

### 綜合練習 01

請用 for 迴圈畫出底下金字塔。

```
      *
     ***
    *****
   *******
  *********
```

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
    print(2*i+1)

1
3
5
7
9

In [ ]:
for i in range(5):
    print('*'*(2*i+1))

*
***
*****
*******
*********